@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #ebac1a;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul{
    margin: 0;
    padding: 0;
}

.button-1 {
    height: 38px;
    background: #ebac1a;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    color: #000f;
}

.dark {
    padding: 15px;
    background: #35424a;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

header {
    background: #141414;
    color: #ebac1a;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #ebac1a 5px solid;
}

header a{
    color: #ebac1a;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header nav{
    float: right;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a {
    color: #ffd500;
    font-weight: bold;
}

header a:hover {
    color: #87867e;
    font-weight: bold;
}

#main-showcase {
    min-height: 500px;
    background:url('/assets/images/pexels-welcome-arcbionics.jpg') no-repeat 0 -500px;
    text-align: center;
    color: #ebac1a;
    background-size: cover;
    background-position: center center;
}

#main-showcase h1{
    margin-top: 150px;
    font-size: 55px;
    margin-bottom: 10px;
}

#main-showcase p{
    font-size: 20px;
}

#newsletter {
    padding: 15px;
    color: #ffffff;
    background: #35424a;
}

#newsletter h1 {
    float: left;
}

#newsletter form {
    float: right;
    margin-top: 15px;
}

#newsletter input[type="email"]{
    padding:4px;
    height: 39px;
    width: 250px;
}

#image-boxes {
    margin-top: 20px
}

#image-boxes .box {
    float: left;
    width: 30%;
    padding: 10px;
    text-align: center;
}

#image-boxes .box img {
    width: 70px;
}

footer {
    padding: 20px;
    margin-top: 20px;
    color: #ebac1a;
    background-color: #000f;
    text-align: center;
}

article#main-col {
    float: left;
    width: 65%;
}

aside#sidebar {
    float: right;
    width: 30%;
    margin-top: 10px;
}